* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

.gridAll {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url(images/bg-header-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerLogo img {
  height: 7.8125em;
  margin-bottom: 2.5em;
}

h1,
h2,
h3,
h4 {
  color: hsl(210, 10%, 33%);
}

h1,
h2 {
  text-align: center;
  font-size: 2.25em;
}

h4 {
  text-align: center;
}

body p {
  color: hsl(201, 11%, 66%);
}

header p {
  font-size: 18px;
  text-align: center;
  margin: 2.5em 0;
}

.iOsBtn {
  text-decoration: none;
  cursor: pointer;
  margin: 0 0.625em;
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 2px 0 #00917d, 0 5px 10px hsla(171, 66%, 44%, 0.5);
  padding: 0.625em 1.25em;
  border-radius: 25px;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 2;
  color: #fff;
  transition: 0.3s all;
}

.iOsBtn:hover {
  background-color: #5dccbb;
}
.MacBtn:hover {
  background-color: #839afb;
}

.MacBtn {
  text-decoration: none;
  cursor: pointer;
  margin: 0 0.625em;
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 2px 0 #3754db, 0 5px 10px hsla(233, 100%, 69%, 0.5);
  padding: 0.625em 1.25em;
  border-radius: 25px;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 2;
  color: #fff;
  transition: 0.3s all;
}

main h2 {
  text-align: center;
}

.keepP {
  margin: 1.25em 22% 5em 22%;
  text-align: center;
}

.gridKeep {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
  grid-template-areas: "imgComputer keepColumn";
}

.imgComputer {
  grid-area: imgComputer;
  display: flex;
  justify-content: left;
  align-items: center;
}
.imgComputer img {
  width: 100%;
}
.keepColumn {
  grid-area: keepColumn;
}

.keepColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionKeep {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sectionKeep {
  margin: 1.25em 7.25em;
}

.sectionKeep h3 {
  text-align: left;
  margin: 0.625em 0;
}

.sectionKeep p {
  width: 70%;
  text-align: left;
}

.keepSection {
  margin: 7.5em 0;
}

.accesSection p {
  margin: 1.25em 30% 7.5em 30%;
  text-align: center;
}

.Devices {
  display: flex;
  justify-content: center;
  align-items: center;
}

.superchargeSection p {
  margin: 2.5em 0;
  text-align: center;
}

.workGrid {
  padding: 0 6.25em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "itemWork1 itemWork2 itemWork3";
}

.itemWork1 {
  grid-area: itemWork1;
}
.itemWork2 {
  grid-area: itemWork2;
}
.itemWork3 {
  grid-area: itemWork3;
}

.itemWork1,
.itemWork2,
.itemWork3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemWork1 img,
.itemWork2 img,
.itemWork3 img {
  margin: 2.5em 0;
}

.itemWork1 h4,
.itemWork2 h4,
.itemWork3 h4 {
  font-size: 1.5em;
}

.rowLogos {
  margin: 5em;
  padding: 0 1.25em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "img1 img2 img3 img4 img5";
}

.img1 {
  grid-area: img1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img2 {
  grid-area: img2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img3 {
  grid-area: img3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img4 {
  grid-area: img4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img5 {
  grid-area: img5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ClipboardBottomSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ClipboardBottomSection p {
  margin: 2.5em 14.5em;
  text-align: center;
}

.bottomButtons {
  display: flex;
}

footer {
  margin: 5em 0 0 0;
  padding: 3.125em 6.25em;
  background-color: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerLogo img {
  height: 3.75em;
}

.footerIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerIcons img {
  height: 1.5625em;
  padding: 0 0.7813em;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "footer1 footer2 footer3";
}
.footer1 {
  grid-area: footer1;
  margin: 0 3.125em;
}
.footer2 {
  grid-area: footer2;
  margin: 0 3.125em;
}
.footer3 {
  grid-area: footer3;
  margin: 0 3.125em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer li {
  margin: 1.875em 0;
  list-style: none;
}

footer a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

footer a:hover {
  color: #2ab7a6;
}

@media screen and (min-width: 500px) {
  header p {
    width: 35%;
  }
  .headerButtons {
    display: flex;
    margin: 0px 0;
  }
  .img1 img,
  .img2 img,
  .img3 img,
  .img4 img,
  .img5 img {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  header {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      ),
      url(images/bg-header-mobile.png);
  }
  header p {
    width: 80%;
    font-size: 1em;
  }
  .headerButtons {
    display: flex;
    flex-direction: column;
  }
  .iOsBtn {
    text-align: center;
    margin: 0.625em 0;
    padding: 0.625em 5em;
  }
  .MacBtn {
    text-align: center;
    margin: 0.625em 0;
    padding: 0.625em 5em;
  }
  .gridKeep {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "imgComputer"
      "keepColumn";
  }
  .imgComputer {
    grid-area: imgComputer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Devices img {
    width: 100%;
  }
  .keepColumn {
    grid-area: keepColumn;
  }
  .sectionKeep {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionKeep h3 {
    text-align: center;
  }
  .sectionKeep p {
    text-align: center;
    width: 100%;
  }
  .accesSection p {
    margin: 1.25em 15% 7.5em 15%;
  }
  .workGrid {
    padding: 0 6.25em;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "itemWork1"
      "itemWork2"
      "itemWork3";
  }
  .itemWork1 {
    grid-area: itemWork1;
  }
  .itemWork2 {
    grid-area: itemWork2;
  }
  .itemWork3 {
    grid-area: itemWork3;
  }
  .rowLogos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5";
  }
  .img1,
  .img2,
  .img3,
  .img4,
  .img5 {
    margin: 40px 0;
  }
  .ClipboardBottomSection p {
    margin: 2.5em 4.5em;
  }
  .bottomButtons {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "footer1" "footer2" "footer3";
  }
  footer li {
    text-align: center;
  }
  .Autor {
    margin: 20px 0;
  }
}
